<style>
    table {
    table-layout: fixed;
    text-align: left;
    }

    td {
    vertical-align: top;
    }

    td,
    th {
    padding: 15px 10px;
    }

    th {
    box-shadow: inset 0 -2px 0 0 #cccccc;
    }

    td {
    box-shadow: inset 0 -1px 0 0 #eeeeee;
    }

    .text-right {
        text-align: right;
    }
</style>

<div>
    <a href="#default">Back to Accounts</a>
</div>

<div class="table-wrapper">
    <table>
    <thead>
        <tr>
        <th width="100">
            Date
        </th>
        <th>
            Description
        </th>
        <th class="text-right">
            Amount
        </th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{transaction.display_date}}</td>
                <td>{{transaction.display_description}}</td>
                {% if transaction.is_credit %}
                    <td class="clr(const-stoplight-success)">+{{transaction.display_amount}}</td>
                {% else %}
                    <td>-{{transaction.display_amount}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>