
<div class="q2-row">
    <q2-input
        class="q2-col"
        name="name"
        id="input_1"
        label="Pay The Man"
        oninput="validateInputEvent(event)"
    ></q2-input>
</div>
<div class="q2-row">
    <q2-btn id="my_submit" color="primary">Yeet $</q2-btn>
</div>
<script src="{{ this.base_assets_url }}/index.js"></script>

