
<div class="q2-row">
    <q2-input
        class="q2-col"
        name="name"
        id="input_1"
        label="Select the amount you want to pay"
        oninput="validateInputEvent(event)"
    ></q2-input>
</div>
<div class="q2-row">
    <q2-btn id="continue" color="primary">Continue  ></q2-btn>
</div>
<script src="{{ this.base_assets_url }}/index.js"></script>

